.App {
  text-align: center;
}

.App-mid {
  width: 100%;
  color: white;
  display: table;
  background-color: white;
  align-items: center;
  justify-content: center;
  background-color: #aaf0d1;
}

.button {
  position: relative;
  background-color: #0AFF00;
  border-color: black;
  font-size: 28px;
  color: black;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button:after {
  content: "";
  background: #00FFFF;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.5s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.App-header {
  min-width:66%;
  color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: white;
}

.App-login {
	color: #282c34;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: right;
	justify-content: center;
	font-size: 10;
	background-color: white;
	padding: 1px;
	border: 5px solid black;
}

.App-hcontainer {
  width:100%;
  color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.App-body {
  width:333px;
  color: #282c34;
  display: table-cell;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.App-textBox {
	margin: 2px;
	width: 30%;
	vertical-align: middle;
	height: 20px;
}

.statText {
	margin: 5px;
	vertical-align: middle;
	height: 20px;
}

.statCol {
	flex-direction: column;
}

.statRow {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.type {
	border: 5px solid black;
	padding: 5px;
	margin: 5px;
	background-color: #A8A77A;
}

.typeRow {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.advancedBody {
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.advancedBody2 {
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 10fr);
	grid-column-gap: 100px;
	grid-row-gap: 10px;
}

.pkmnStat {
  color: #282c34;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
}

body {
  background-color: #aaf0d1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-family: Arial;
  text-align: center;
}

.App-link {
  color: #61dafb;
}
